.main-content-login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
  height: fit-content;

  .img-icone {
    margin-right: auto;
  }

  .img-fundo {
    background: url('../../../assets/img/bg-front.png') no-repeat center top;
    width: 100%;
    height: 70px;
  }
}

.form-login {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 370px;

  h1 {
    font-weight: bold;
    font-size: 29px;
    letter-spacing: -0.2px;
    color: #585859;
  }

  .esqueceu-senha {
    margin-left: auto;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.08px;
    color: #585859;
    margin-bottom: 20px;
  }

  button {
    background-color: #7626ff;
    box-shadow: 0px 10px 39px #867FF67A;
    border-radius: 36px;
    height: 60px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    transition: filter 0.2s;
    font-weight: bold;
    margin-bottom: 23px;
  }

  .cadastrar-se {
    margin: 0 auto;
    letter-spacing: -0.11px;
    color: #0077C5;
  }
}

.div-input {
  background-color: #fff;
  border: 1px solid #c2c2c2;
  border-radius: 6px;
  padding: 10px 10px 10px 20px;
  display: flex;
  align-items: center;
  color: #cad0dc;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 10px;

  input {
    flex: 1;
    background: transparent;
    border: 0;
    color: #585859;

    &::placeholder {
      opacity: 0.5;
    }
  }

  img {
    cursor: pointer;
    width: 20px;
    margin-left: 10px;
  }
}

.bg-image {
  width: 100%;
  max-width: 500px;
}
