<main class="main-content-home">
  <div class="menu">
    <img src="assets/img/front-test-logo.svg" alt="Logo">
    <button>Logout</button>
  </div>

  <div class="test-content">
    <img src="assets/img/front-test.svg" alt="Front test">
    <h1>Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá.</h1>
    <button>Saiba mais</button>
  </div>

  <div class="cards">
    <div class="card left">
      <p class="title">Mussum Ipsum cacilds</p>
      <div class="img-center">
        <img src="assets/img/fingerprint.svg" alt="Fingerprint">
      </div>
      <p class="description">Delegadis gente finis, bibendum egestas augue arcu ut est interessantiss quisso pudia.</p>
      <div class="img-btn">
        <button>Saiba mais</button>
      </div>
    </div>

    <div class="card center">
      <p class="title">Mussum Ipsum cacilds</p>
      <div class="img-center">
        <img src="assets/img/fingerprint.svg" alt="Fingerprint">
      </div>
      <p class="description">Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá</p>
      <div class="img-btn">
        <button>Saiba mais</button>
      </div>
    </div>

    <div class="card right">
      <p class="title">Mussum Ipsum cacilds</p>
      <div class="img-center">
        <img src="assets/img/fingerprint.svg" alt="Fingerprint">
      </div>
      <p class="description">Receita de bolis, mais bolis eu num gostis copo furadis é disculpa de bebadis.</p>
      <div class="img-btn">
        <button>Saiba mais</button>
      </div>
    </div>
  </div>

  <footer>
    <ul>
      <li><a>Quem somos</a></li>
      <li><a routerLink="/">Login</a></li>
      <li><a>Como funciona</a></li>
      <li><a routerLink="/cadastro">Cadastro</a></li>
      <li><a>FAQ's</a></li>
      <li><a>Termos de Uso</a></li>
      <li><a>Contato</a></li>
      <li><a>Privacidade</a></li>
    </ul>
  </footer>

</main>
